:root {
    --background-color: #1F1F20;
    --main-font-color: #F5F5F5;
    --contrast-color: #F2E422;
    --dark-accent-color: #0D0D0D;

    
}

* {
    background-color: var(--background-color);
    color: var(--main-font-color);
    font-family: 'Bitter', serif;

}

/* NAVBAR STYLING */ 

/* Add a black background color to the top navigation */
.topnav {
    background-color: var(--background-color);
    overflow: visible;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15vh;
    margin: 0;
  }
  
  
  /* Style the hamburger menu */
  .topnav a.icon {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 3vh;
  }

 
 /* Style the links inside the navigation bar */
 .topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: var(--main-font-color);
    text-decoration: none;
    list-style: none;
    font-family: "Bitter";
    font-weight: 500;
    font-size: 18px;

  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: var(--contrast-color);
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    color: var(--contrast-color);
  }
  
  .topnav a:active {
    color: var(--contrast-color);
  } 

  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  .topnav .logo {
    margin-right: auto;
  }

  #navbutton {
    background-color: var(--contrast-color);
    color: var(--dark-accent-color);
    font-size: 18px;
    cursor: pointer;
    padding: 16px 28px;
    font-family: "Bitter";
    text-transform: uppercase;
    box-shadow: 7px 7px var(--main-font-color);
    border: none;

  }

  #navbutton:hover {
    background-color: var(--background-color);
    color: var(--contrast-color);
  }

/* When the screen is less than 828px pixels wide, hide all links, except for logo. */
@media screen and (max-width: 828px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav div {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 828px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }


/* Dropdown Button */

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 40px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    flex-direction: column;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: var(--main-font-color);
    padding: 12px 16px;
    text-decoration: none;
    flex-direction: column;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    color: var(--contrast-color);
    display: block;
}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
body {
    min-height: 100%;
    margin-bottom: -100px;
}

body:after {
    content: "";
    display: block;
    height: 340px;
}


/* FOOTER STYLING */

footer {
 /*    display: grid;
    grid-template-rows: 1 2 1; */
    margin-top: 100px;
}

.footer {
    display: flex;
    flex-direction: wrap;
  /*   display: grid;
    grid-template-columns: 2fr 2fr 3fr; */
    width: 100%;
    z-index: 100;
    bottom: 0;
    overflow: hidden;
    margin: 40px 0 10px 0;
    justify-content: space-evenly;
    
}

.footerlayout {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 13vh;
    padding-top: 20px;
}

.footer-links a {
    color: var(--contrast-color);
}

.footer-contact p {
    text-align: left;
}

.footer-contact p a {
    color: var(--contrast-color);
}

.footer-openinghours p {
    text-align: left;
}

.social-container {
    display: flex;
}

.social-container img {
    padding: 0 10px 0 10px;
    text-align: end;
}

.footer-logo img {
    max-width: 80%;
}
